.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  width: 23rem;
}

.welcome {
  font-style: italic;
  font-size: 3rem;
  text-align: center;
}

.sign-up, .main {
  border: 2px solid rgb(44, 44, 44);
  border-radius: 8px;
}

.sign-up {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 15px 0px;
  padding: 1.5rem;
}