.form {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.custom_input {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 100%;
}

.input {
	font-size: 18px;
	padding: 5px 10px;
	width: 100%;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	transition: .3s ease;
}

.input:focus {
	background: #F2F2F2;
	border: 1px solid #5A7EC7;
	border-radius: 10px;
}

.input::placeholder {
	color: #DDDDDD;
}

.log-in-btn {
  composes: button from '../../assets/index.css';
	border-radius: 5px;
	padding: 5px 10px;
}

.log-in-btn {
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.log-in-btn{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.log-in-btn:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  right: 100px;
  transition: 0.5s;
}

.log-in-btn:hover{
  padding-right: 24px;
  padding-left:8px;
}

.log-in-btn:hover:after {
  opacity: 1;
  right: 140px;
}